// Fonts path
//$base-font-path: 'design/fonts/';
$base-font-path: '../fonts/';
$anton-font-path: $base-font-path+'anton';
$futura-font-path: $base-font-path+'futura';
$knockout-font-path: $base-font-path+'knockout'; 
$museo-font-path: $base-font-path+'museosans'; 
$base-img-path: '../img/';
// Fonts
$heading-font: 'museo-sans', sans-serif;
$body-font: 'museo-sans', Arial, sans-serif;
$body-color: #9c9c9c;
$heading-color: #e30613;
// Base colors
$white: #fff;
$black: #000; 
$red: #e30613;
$orange: #f0ad4e;
$yellow: #ffd500;
$green: #5cb85c;
$blue: #53B2E1;
$teal: #5bc0de;
$pink: #95137b;
$purple: #95137b;
$silver: $body-color;
// Main
$background-color: #efefef;
$etf-blue: $purple;
// Link
$link-color: #95137b;
// Page header
$page-header-background-color: $white;
$page-header-bottom-border-height: 6rem;
$page-header-mobile-menu-height: 6rem;
// Navigation
$navigation-color: $silver;
$navigation-link-active-color: $link-color;
// Events list
$event-time-color: #efefef;
$event-time-active-color: $link-color;
// Page footer
$page-footer-background-color: #3d3d3d;
$page-footer-heading-color: $white;
$page-footer-color: #9d9d9d;
$page-footer-border-color: #757575; 
// Cards
$card-background-color: $white;
$card-heading-border-color: #f5f5f5;
// News overview
$news-overview-color: #555555;
// Calendar
$calendar-icon-color: #cacaca;
$calendar-active-icon-color:$link-color;
// Table
$table-head-background: #fbfbfb;
$table-border-color: #f6f6f6;
$border-thickness: 1px;
// Fontawesome
$fa-font-path: '../fonts/fontawesome';
$spacer: 4rem;
// Tweets
$tweet-action-color: #8899a6;
