.action-filter {
    background-color: #fff;
    box-shadow: 0 0 18px -3px #bfbfbf;
    padding: 0.4rem 1rem 1rem;
    .form-group {
        margin: 0;
    }
    .form-control {
        padding: 0.5rem 1rem;
    }
    &-date {
        display: flex;
        justify-content: space-between;
        .form-group {
            width: calc(50% - 0.5rem);
            position: relative;
            label {
                margin: 0;
                font-size: 0.9rem;
            }
            &:before {
                @include fa-pseudo-icon('\f073', inherit);
                position: absolute;
                left: 0;
                bottom: 0;
                font-size: 1.3rem;
                padding: 0.6rem;
                line-height: 1.4rem;
            }
            input {
                width: 100%;
                padding-left: 2.3rem;
            }
        }
    }
    .btn-clear {
        margin-top: 1.5rem;
    }
}
