#cookies {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 2rem;
	text-align: center;
	background: $body-color;
	color: #fff;
	border-top: 2px solid #fff;
	position: fixed;
	z-index: 999999999;
	margin-top: 0;
}
#cookies p {
	margin: 0;
	color: #fff;
}
#cookies p a {
	color: #fff;
	text-decoration: underline;
}
#cookie-accept {
	cursor: pointer;
	background-color: $brand-color;
	border: none;
	padding: 1rem;
	color: #fff;
	display: inline-block;
	margin: 0.5rem;
}