.page-footer {
    color: $white;
    background-color: $silver;
    border-bottom: solid 10px $blue;
    padding-top: 1rem;
    padding-bottom: 1rem;
    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4,
    h5,
    .h5 {
        color: #fff;
        margin-bottom: 2.5rem;
    }
    a {
        color: inherit;
    }
    a:hover {
        color: #fff;
        text-decoration: none;
        border-bottom: solid 1px;
    }
    .nav .nav-item {
        color: #fff;
    }
    .navbar {
        margin-bottom: 2rem;
        border-bottom: solid 3px #757575;
    }
}

.footer-copy {
    p {
        float: left;
    }
    .btn-up {
        color: #fff;
        float: right;
    }
    & &-holder {
        margin-top: 2rem;
        padding-top: 2rem;
        border-top: solid 3px #757575;
    }
}
