header{
    .navbar{
        padding: 1rem;
    }
    .navbar-brand-img{
        height: 3rem;
    }
    .navbar-toggler{
        border: none;
    }
    #menu-head-menu{
        text-transform: uppercase;
         @include media-breakpoint-down('sm') {
            text-align: center;
        }
        .nav-link{
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
    @include media-breakpoint-down('sm') {
        .navbar-brand{
            margin-right: 0;
        }
    }
}