.intro-block {
    padding-top: 1rem;
    padding-bottom: 4rem;
    border-bottom: solid 6rem $blue;
    border-bottom-color: rgba($blue, 0.9);
    margin-bottom: -3rem;
    background-color: #fff;
    background-image: url($base-img-path + 'intro-block-bg.jpg');
    background-size: cover;
    background-position: center center;
}

@media (max-width: 991px) {
    .intro-block {
       // padding-top: 2rem;
       // padding-bottom: 2rem;
    }
}

.intro-block h1 {
    color: $blue;
    font-family: "FuturaBT-Book", Arial;
    letter-spacing: 0;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 51px;
    margin-top: 15px;
}

@media (max-width: 1199px) {
    .intro-block h1 {
        font-size: 40px;
    }
}

@media (max-width: 991px) {
    .intro-block h1 {
        font-size: 27px;
    }
}

@media (max-width: 767px) {
    .intro-block h1 {
        font-size: 19px;
        text-align: center;
    }
}

.intro-block h2 {
    color: $blue;
    font-family: "FuturaBT-Book", Arial;
    letter-spacing: 0;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 37px;
}

.intro-block h2 span {
    color: #46A94C;
}

@media (max-width: 1199px) {
    .intro-block h2 {
        font-size: 29px;
    }
}

@media (max-width: 991px) {
    .intro-block h2 {
        font-size: 19.6px;
    }
}

@media (max-width: 767px) {
    .intro-block h2 {
        font-size: 14px;
        text-align: center;
    }
}

.intro-block h3 {
    color: $blue;
    font-family: "FuturaBT-Book", Arial;
    letter-spacing: 0;
    text-transform: uppercase;
    font-size: 21.3px;
    margin-top: 1rem;
}

@media (max-width: 1199px) {
    .intro-block h3 {
        font-size: 16.7px;
    }
}

@media (max-width: 991px) {
    .intro-block h3 {
        font-size: 11.3px;
    }
}

@media (max-width: 767px) {
    .intro-block h3 {
        text-align: center;
    }
}

.intro-block .intro-types {
    background-image: url(../img/etf-congress-barcelona-types.png);
    height: 67px;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.intro-block .logo {
    width: 100%;
}

@media (min-width: 576px) {
    .intro-block .logo {
        margin-top: 0.5rem;
    }
}

@media (max-width: 991px) {
    .intro-block .logo {
        margin-top: -0.5rem;
    }
}

@media (max-width: 767px) {
    .intro-block .logo {
        margin-bottom: 2rem;
    }
}

.intro-block-carousel {
    //padding-top: 0;
    border-bottom: solid 6rem $blue;
    margin-bottom: -3rem;
    background-color: #fff;
    margin-top: -1em;
    max-height: 25rem;
    overflow: hidden; 
    width: 100%;
}

.intro-block-carousel div.youtube {
    margin-bottom: 0;
}

@media (max-width: 767px) {
    .intro-block-carousel{
        max-height: 18rem;
    }
}
