.social-media-list {
    list-style: none;
    padding: 0;
    font-size: 1.8rem;
    line-height: 0.8rem;
    margin-bottom: 2rem;
    .social-media-list-item {
        display: inline-block;
        margin-right: 2rem;
    }
}
