.navbar-social{
    a {
        font-size: 0;
        padding: 0;
        path, circle{
            fill: $heading-color;
        }
        &:hover, &:active, &:focus{
            path, circle{
                fill: $brand-color-second;
            }
        }
    }
}