.navbar-social {
    a {
        padding: 0;

        path,
        circle {
            fill: $heading-color;
        }

        &:hover,
        &:active,
        &:focus {

            path,
            circle {
                fill: $brand-color-second;
            }
        }

        span {
            position: absolute;
            font-size: 0;
        }
    }
}