@mixin fa-pseudo-icon($chosen-icon, $icon-color) {
    display: inline-block;
    font-family: FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: $chosen-icon;
    color: $icon-color;
}

@mixin im-pseudo-icon($chosen-icon, $icon-color) {
    display: inline-block;
    font-family: 'icomoon';
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: $chosen-icon;
    color: $icon-color;
}
