.wiver-fields {

    input,
    textarea {
        width: 100%;
        margin-bottom: .25rem;
        margin-right: .25rem !important;
    }

    input[type=checkbox] {
        width: initial;
    }

    input[type=button],
    input[type=button],
    button {
        width: auto;
    }
}