.wiver-fields {

    .form-field {
        border-bottom: 1px rgba(gray, .1) solid;

        &.form-required {
            label {
                &::after {
                    content: '*';
                    font-weight: bold;
                    padding-left: .25rem;
                }
            }
        }
    }

    input,
    textarea {
        width: 100%;
        margin-bottom: .25rem;
        margin-right: .25rem !important;
    }

    label {
        width: auto;
        margin-right: 1rem;
    }

    input[type=checkbox],
    input[type=radio] {
        width: initial;
    }

    input[type=radio] {
        margin-top: .25rem;
    }

    input[type=button],
    input[type=button],
    button {
        width: auto;
    }

    .image-holder {
        img {
            width: 100%;
            max-width: 10rem;
            height: auto;
        }
    }
}