.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
    display: block;
}

.carousel-control-prev,
.carousel-control-next {
    opacity: 1;
    width: 5%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 25px;
    height: 25px;
}

.carousel img {
    width: 100%;
    height: auto;
}

.carousel.head .carousel-item div.col-4 {
    float: left;
    padding: 0;
}

.carousel.head .carousel-item .img-wrapper {
    background-size: cover;
    height: 200px;
    background-position: center center;
}

@media (max-width: 1199px) {
    .carousel.head .carousel-item .img-wrapper {
        height: 200px;
    }
}

@media (max-width: 991px) {
    .carousel.head .carousel-item .img-wrapper {
        height: 150px;
    }
}

@media (max-width: 767px) {
    .carousel.head .carousel-item .img-wrapper {
        height: 100px;
    }
}

.carousel {
    height: 18rem;
    &-indicators {
        width: 100%;
        margin: 0 auto;
        cursor: pointer;
        li {
            border-radius: 0;
            -webkit-border-radius: 0px;
        }
        &.active {
            height: 5px;
        }
    }
}
@media (max-width: 767px) {
    .carousel {
        height: 11rem;
    }
}
