
.ajax-result { display: none; color: green; }

.ajax-result:before { display: inline-block; font-family: FontAwesome; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content: ""; color: inherit; padding-right: 0.5rem; }

.ajax-result.error { color: red; }

.ajax-result.error:before { display: inline-block; font-family: FontAwesome; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content: ""; color: inherit; }

.form-control { padding: 1rem 1rem; height: auto; }

select { height: auto !important; }