.navbar {
    padding: 0;
    background: rgba($red, 0.8);
    background: linear-gradient(to right,rgba($red, 0.8) 0,rgba($purple, 0.8) 80%);
}

.navbar .navbar-toggle {
    display: none;
}

.navbar .navbar-right {
    width: 100%;
    text-align: right;
    height: 40px;
}

@media (max-width: 767px) {
    .navbar .brand-logo {
        height: 5.5rem;
        width: auto;
    }
    .navbar nav {
        position: absolute;
        top: calc(100% + 10px);
        left: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.95);
        z-index: 5;
    }
    .navbar .navbar-toggle {
        display: block;
    }
}

.navbar.login {
    margin: 10px 0 0 0;
}

.navbar .navbar-profile ul {
    list-style: none;
}

.navbar .navbar-profile ul li {
    float: right;
    margin-left: 20px;
}

@media (max-width: 767px) {
    .navbar .navbar-profile ul li .hi {
        display: none;
    }
}
