.password-input-wrapper {
    input[type=password] {
        display: block;
    }
    input[type=text] {
        display: none;
    }
    &.show-password input[type=text] {
        display: block;
    }
    &.show-password input[type=password] {
        display: none;
    }
}
